.App {
  text-align: center;
}
label {
  padding-bottom: 25px;
}
.active {
  animation: rotation 1s ease-out forwards;
  background-color: transparent;
  border: none;
}
.inactive {
  animation: none;
  background-color: transparent;
  border: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 30px;
  color: white;
}
button {
  position: relative;
  background-color: #282c34;
  color: white;
  border: none;
}
.d8 {
  color: white;
}
.D20,
.D6,
.D20,
.D12,
.D10,
.D10p,
.D8,
.D4 {
  padding-bottom: 0;
  border: none;
  background: transparent;
}
.d6-img,
.d20-img,
.d12-img,
.d8-img,
.d10-img,
.d10p-img,
.d4-img {
  position: relative;
  background-color: transparent;
  padding: 30px 0 10px 0;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.die {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  padding: 0 15px;
  border: 2px solid rgb(111, 111, 111);
}
.output {
  color: tomato;
  background-color: black;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
}
.die:nth-child(7) {
  grid-column: 2 / 3;
}
